<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mmall.dao.AssetInfoMapper" >
  <resultMap id="BaseResultMap" type="com.mmall.pojo.AssetInfo" >
    <constructor >
      <idArg column="asset_id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="asset_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="asset_category" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="brand_specification" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="unit_measurement" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="book_amount" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="inventory_amount" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="storage_location" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="department_responsibility" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="person_in_charge" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="status_usage" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    asset_id, asset_name, asset_category, brand_specification, unit_measurement, book_amount, 
    inventory_amount, storage_location, department_responsibility, person_in_charge, 
    status_usage, create_time, update_time
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from asset_inventory
    where asset_id = #{assetId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from asset_inventory
    where asset_id = #{assetId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.mmall.pojo.AssetInfo" >
    insert into asset_inventory (asset_id, asset_name, asset_category, 
      brand_specification, unit_measurement, book_amount, 
      inventory_amount, storage_location, department_responsibility, 
      person_in_charge, status_usage, create_time, 
      update_time)
    values (#{assetId,jdbcType=VARCHAR}, #{assetName,jdbcType=VARCHAR}, #{assetCategory,jdbcType=VARCHAR}, 
      #{brandSpecification,jdbcType=VARCHAR}, #{unitMeasurement,jdbcType=VARCHAR}, #{bookAmount,jdbcType=INTEGER}, 
      #{inventoryAmount,jdbcType=INTEGER}, #{storageLocation,jdbcType=VARCHAR}, #{departmentResponsibility,jdbcType=VARCHAR}, 
      #{personInCharge,jdbcType=VARCHAR}, #{statusUsage,jdbcType=VARCHAR}, now(),
      now())
  </insert>
  <insert id="insertSelective" parameterType="com.mmall.pojo.AssetInfo" >
    insert into asset_inventory
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="assetId != null" >
        asset_id,
      </if>
      <if test="assetName != null" >
        asset_name,
      </if>
      <if test="assetCategory != null" >
        asset_category,
      </if>
      <if test="brandSpecification != null" >
        brand_specification,
      </if>
      <if test="unitMeasurement != null" >
        unit_measurement,
      </if>
      <if test="bookAmount != null" >
        book_amount,
      </if>
      <if test="inventoryAmount != null" >
        inventory_amount,
      </if>
      <if test="storageLocation != null" >
        storage_location,
      </if>
      <if test="departmentResponsibility != null" >
        department_responsibility,
      </if>
      <if test="personInCharge != null" >
        person_in_charge,
      </if>
      <if test="statusUsage != null" >
        status_usage,
      </if>
        create_time,
        update_time
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="assetId != null" >
        #{assetId,jdbcType=VARCHAR},
      </if>
      <if test="assetName != null" >
        #{assetName,jdbcType=VARCHAR},
      </if>
      <if test="assetCategory != null" >
        #{assetCategory,jdbcType=VARCHAR},
      </if>
      <if test="brandSpecification != null" >
        #{brandSpecification,jdbcType=VARCHAR},
      </if>
      <if test="unitMeasurement != null" >
        #{unitMeasurement,jdbcType=VARCHAR},
      </if>
      <if test="bookAmount != null" >
        #{bookAmount,jdbcType=INTEGER},
      </if>
      <if test="inventoryAmount != null" >
        #{inventoryAmount,jdbcType=INTEGER},
      </if>
      <if test="storageLocation != null" >
        #{storageLocation,jdbcType=VARCHAR},
      </if>
      <if test="departmentResponsibility != null" >
        #{departmentResponsibility,jdbcType=VARCHAR},
      </if>
      <if test="personInCharge != null" >
        #{personInCharge,jdbcType=VARCHAR},
      </if>
      <if test="statusUsage != null" >
        #{statusUsage,jdbcType=VARCHAR},
      </if>
        now(),
        now()
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mmall.pojo.AssetInfo" >
    update asset_inventory
    <set >
      <if test="assetName != null" >
        asset_name = #{assetName,jdbcType=VARCHAR},
      </if>
      <if test="assetCategory != null" >
        asset_category = #{assetCategory,jdbcType=VARCHAR},
      </if>
      <if test="brandSpecification != null" >
        brand_specification = #{brandSpecification,jdbcType=VARCHAR},
      </if>
      <if test="unitMeasurement != null" >
        unit_measurement = #{unitMeasurement,jdbcType=VARCHAR},
      </if>
      <if test="bookAmount != null" >
        book_amount = #{bookAmount,jdbcType=INTEGER},
      </if>
      <if test="inventoryAmount != null" >
        inventory_amount = #{inventoryAmount,jdbcType=INTEGER},
      </if>
      <if test="storageLocation != null" >
        storage_location = #{storageLocation,jdbcType=VARCHAR},
      </if>
      <if test="departmentResponsibility != null" >
        department_responsibility = #{departmentResponsibility,jdbcType=VARCHAR},
      </if>
      <if test="personInCharge != null" >
        person_in_charge = #{personInCharge,jdbcType=VARCHAR},
      </if>
      <if test="statusUsage != null" >
        status_usage = #{statusUsage,jdbcType=VARCHAR},
      </if>
        update_time = now()
    </set>
    where asset_id = #{assetId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mmall.pojo.AssetInfo" >
    update asset_inventory
    set asset_name = #{assetName,jdbcType=VARCHAR},
      asset_category = #{assetCategory,jdbcType=VARCHAR},
      brand_specification = #{brandSpecification,jdbcType=VARCHAR},
      unit_measurement = #{unitMeasurement,jdbcType=VARCHAR},
      book_amount = #{bookAmount,jdbcType=INTEGER},
      inventory_amount = #{inventoryAmount,jdbcType=INTEGER},
      storage_location = #{storageLocation,jdbcType=VARCHAR},
      department_responsibility = #{departmentResponsibility,jdbcType=VARCHAR},
      person_in_charge = #{personInCharge,jdbcType=VARCHAR},
      status_usage = #{statusUsage,jdbcType=VARCHAR},
      update_time = now()
    where asset_id = #{assetId,jdbcType=VARCHAR}
  </update>

  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from asset_inventory
  </select>

  <select id="selectSimilarRecord" resultMap="BaseResultMap" parameterType="com.mmall.pojo.AssetInfo">
    SELECT
    <include refid="Base_Column_List"/>
    FROM asset_inventory
    <where>
      <if test="assetId != null and assetId != ''" >
        asset_id = #{assetId,jdbcType=VARCHAR}
      </if>
      <if test="assetName != null and assetName != ''" >
        AND asset_name LIKE concat('%',#{assetName,jdbcType=VARCHAR},'%')
      </if>
      <if test="assetCategory != null and assetCategory != ''" >
        AND asset_category LIKE concat('%',#{assetCategory,jdbcType=VARCHAR},'%')
      </if>
      <if test="brandSpecification != null and brandSpecification != ''" >
        AND brand_specification LIKE concat('%',#{brandSpecification,jdbcType=VARCHAR},'%')
      </if>
      <if test="unitMeasurement != null and unitMeasurement != ''" >
        AND unit_measurement = #{unitMeasurement,jdbcType=VARCHAR}
      </if>
      <if test="bookAmount != null" >
        AND book_amount = #{bookAmount,jdbcType=INTEGER}
      </if>
      <if test="inventoryAmount != null" >
        AND inventory_amount = #{inventoryAmount,jdbcType=INTEGER}
      </if>
      <if test="storageLocation != null and storageLocation != ''" >
        AND storage_location LIKE concat('%',#{storageLocation,jdbcType=VARCHAR},'%')
      </if>
      <if test="departmentResponsibility != null and departmentResponsibility != ''" >
        AND department_responsibility LIKE concat('%',#{departmentResponsibility,jdbcType=VARCHAR},'%')
      </if>
      <if test="personInCharge != null and personInCharge != ''" >
        AND person_in_charge LIKE concat('%',#{personInCharge,jdbcType=VARCHAR},'%')
      </if>
      <if test="statusUsage != null and statusUsage != ''" >
        AND status_usage = #{statusUsage,jdbcType=VARCHAR}
      </if>
    </where>
  </select>

  <select id="selectByAssetName" resultMap="BaseResultMap" parameterType="java.lang.String">
    SELECT
    <include refid="Base_Column_List"/>
    FROM asset_inventory
    WHERE asset_name LIKE concat('%',#{assetName},'%')
  </select>
  
  <select id="selectByAssetCategory" resultMap="BaseResultMap" parameterType="java.lang.String">
    SELECT
    <include refid="Base_Column_List"/>
    FROM asset_inventory
    WHERE asset_category LIKE concat('%',#{assetCategory},'%')
  </select>

  <select id="checkAssetId" resultType="int" parameterType="string">
    SELECT COUNT(1) FROM asset_inventory
    WHERE asset_id = #{assetId}
  </select>

  <insert id="insertAssertBatch" parameterType="com.mmall.pojo.AssetInfo" >
    insert into asset_inventory (asset_id, asset_name, asset_category,
    brand_specification, unit_measurement, book_amount,
    inventory_amount, storage_location, department_responsibility,
    person_in_charge, status_usage, create_time,
    update_time)
    values
    <foreach collection="list" item="assetInfo" separator=",">
      (#{assetInfo.assetId,jdbcType=VARCHAR}, #{assetInfo.assetName,jdbcType=VARCHAR}, #{assetInfo.assetCategory,jdbcType=VARCHAR},
      #{assetInfo.brandSpecification,jdbcType=VARCHAR}, #{assetInfo.unitMeasurement,jdbcType=VARCHAR}, #{assetInfo.bookAmount,jdbcType=INTEGER},
      #{assetInfo.inventoryAmount,jdbcType=INTEGER}, #{assetInfo.storageLocation,jdbcType=VARCHAR}, #{assetInfo.departmentResponsibility,jdbcType=VARCHAR},
      #{assetInfo.personInCharge,jdbcType=VARCHAR}, #{assetInfo.statusUsage,jdbcType=VARCHAR}, now(),
      now())
    </foreach>
  </insert>
  <update id="clearInventoryAmountAll" >
    update asset_inventory
    set
    inventory_amount = 0,
    update_time = now()
  </update>
  <select id="getAssetCount" resultType="int" >
    select COUNT(1)
    from asset_inventory
  </select>
  <update id="updateInventoryAmountByPrimaryKey" parameterType="string" >
    update asset_inventory
    SET
    inventory_amount = inventory_amount + 1,
    update_time = now()
    where asset_id = #{assetId}
  </update>
  <select id="selectCompleteInventory" resultMap="BaseResultMap" parameterType="com.mmall.pojo.AssetInfo" >
    SELECT
    <include refid="Base_Column_List"/>
    FROM asset_inventory
    WHERE inventory_amount = book_amount
    <if test="assetId != null and assetId != ''" >
      AND asset_id = #{assetId,jdbcType=VARCHAR}
    </if>
    <if test="assetName != null and assetName != ''" >
      AND asset_name LIKE concat('%',#{assetName,jdbcType=VARCHAR},'%')
    </if>
    <if test="assetCategory != null and assetCategory != ''" >
      AND asset_category LIKE concat('%',#{assetCategory,jdbcType=VARCHAR},'%')
    </if>
    <if test="brandSpecification != null and brandSpecification != ''" >
      AND brand_specification LIKE concat('%',#{brandSpecification,jdbcType=VARCHAR},'%')
    </if>
    <if test="unitMeasurement != null and unitMeasurement != ''" >
      AND unit_measurement = #{unitMeasurement,jdbcType=VARCHAR}
    </if>
    <if test="storageLocation != null and storageLocation != ''" >
      AND storage_location LIKE concat('%',#{storageLocation,jdbcType=VARCHAR},'%')
    </if>
    <if test="departmentResponsibility != null and departmentResponsibility != ''" >
      AND department_responsibility LIKE concat('%',#{departmentResponsibility,jdbcType=VARCHAR},'%')
    </if>
    <if test="personInCharge != null and personInCharge != ''" >
      AND person_in_charge LIKE concat('%',#{personInCharge,jdbcType=VARCHAR},'%')
    </if>
    <if test="statusUsage != null and statusUsage != ''" >
      AND status_usage = #{statusUsage,jdbcType=VARCHAR}
    </if>
  </select>
  <select id="selectNotCompleteInventory" resultMap="BaseResultMap" parameterType="com.mmall.pojo.AssetInfo" >
    SELECT
    <include refid="Base_Column_List"/>
    FROM asset_inventory
    WHERE inventory_amount != book_amount
    <if test="assetId != null and assetId != ''" >
      AND asset_id = #{assetId,jdbcType=VARCHAR}
    </if>
    <if test="assetName != null and assetName != ''" >
      AND asset_name LIKE concat('%',#{assetName,jdbcType=VARCHAR},'%')
    </if>
    <if test="assetCategory != null and assetCategory != ''" >
      AND asset_category LIKE concat('%',#{assetCategory,jdbcType=VARCHAR},'%')
    </if>
    <if test="brandSpecification != null and brandSpecification != ''" >
      AND brand_specification LIKE concat('%',#{brandSpecification,jdbcType=VARCHAR},'%')
    </if>
    <if test="unitMeasurement != null and unitMeasurement != ''" >
      AND unit_measurement = #{unitMeasurement,jdbcType=VARCHAR}
    </if>
    <if test="storageLocation != null and storageLocation != ''" >
      AND storage_location LIKE concat('%',#{storageLocation,jdbcType=VARCHAR},'%')
    </if>
    <if test="departmentResponsibility != null and departmentResponsibility != ''" >
      AND department_responsibility LIKE concat('%',#{departmentResponsibility,jdbcType=VARCHAR},'%')
    </if>
    <if test="personInCharge != null and personInCharge != ''" >
      AND person_in_charge LIKE concat('%',#{personInCharge,jdbcType=VARCHAR},'%')
    </if>
    <if test="statusUsage != null and statusUsage != ''" >
      AND status_usage = #{statusUsage,jdbcType=VARCHAR}
    </if>
  </select>

  <select id="selectCategoryList" resultType="string" >
    SELECT DISTINCT asset_category
    FROM asset_inventory
  </select>

  <select id="selectDepartmentList" resultType="string" >
    SELECT DISTINCT department_responsibility
    FROM asset_inventory
  </select>

</mapper>